<!doctype html>
<html lang='en-GB'>
<head>
  <meta charset='utf-8'>
  <title>VueJS examples</title>
</head>
<body>
<script src="vue.js"></script>

<div id="vue_password">
<p>
<input type="checkbox" id="show_password_vue" v-model="show_password">
<label for="show_password_vue">show password</label>
<input placeholder="insert password" v-model="password" v-bind:type="password_input_type">
<input placeholder="repeat password" v-model="password_repeated" v-bind:type="password_input_type">      
<template v-if="password||password_repeated">
<template v-if="password==password_repeated">
        <span>Password is confirmed</span>
</template>
<template v-else>
        <span>Password should be repeated to be confirmed</span>
</template>
</template>
</p>
</div>

<script>
var vue = new Vue({
el: '#vue_password',
data: {
show_password: false,
password: '',
password_repeated: '',
},
computed: {
password_input_type: function(){ return this.show_password?'text':'password' },
}
})
</script>

</body>
</html>
